/* csslint box-model:false, font-sizes:false, ids:false, overqualified-elements:false, qualified-headings:false , unique-headings:false */

.borderBelow {
  border-bottom: 1px solid #eee;
  padding: 0 0 20px 0;
}

.current {
  font-weight: 600;
}

a {
  color: #4183C4;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #3d85c6;
  text-decoration: underline;
}

a.recording:hover {
  color: #7759ae;
}

a.recording {
  display: block;
  margin: 20px 0 0 0;
}

nav a {
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

button#install[disabled] {
  display: none;
}

button#install {
  background-color: #304ffe;
  border: none;
  color: white;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0 auto 20px auto;
  padding: 7px;
}

div#map {
  height: 450px;
  margin: 30px 0  10px 0;
  max-width: 100%;
  width: 650px;
}

footer {
  background-color: #f1f1f1;
  font-size: 14px;
  height: 110px;
  line-height: 1.5em;
  padding: 20px;
}

h1 {
  color: #9fa2a6;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 200;
  margin: 0;
}

h2 {
  color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 200;
  line-height: 1.2em;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}

.speakers h2 {
  border-bottom: 1px solid #eee;
  color: #444;
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
  text-align: center;
}

h3 {
  color: #304ffe;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
}

.speakers h3 {
  border-bottom: none;
  font-size: 20px;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: left;
}

h4 {
  color: #304ffe;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 0;
}

.speakers h4 {
  font-size: 18px;
  margin: 0 0 20px 0;
}

header {
  margin: 0 0 20px 0;
}

iframe {
  display: block;
  height: 344px;
  margin: 0 auto 50px auto;
  max-width: 100%;
  width: 518px;
}

iframe.map {
  height: 450px;
  margin: 0 0 50px 0;
  width: 600px;
}

img {
  border: none;
  max-width: 100%;
}

img.banner {
  width: 100%;
}

.recording img {
  margin: 0 0 20px 0;
}

section.logo img {
  border-right: 1px solid #ccc;
  float: left;
  margin: 0 21px 0 0;
  padding: 0 16px 0 0;
  width: 116px;
}

nav li {
  color: black;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0 20px 0 0;
}

main {
  margin: 0 auto;
  max-width: calc(100% - 40px);
  padding: 0 20px;
  width: 938px;
}

nav {
  background-color: #eee;
  background-color: rgba(236,236,236,0.75);
  padding: 0 10px 0 20px;
  position: absolute;
  width: 100%;
}

p {
  color: #444;
  font-weight: 300;
  line-height: 1.6em;
}

.recording p {
  color: #7759ae;
  margin: 0 0 20px 0;
}

section > p:last-of-type {
  margin: 0;
}

footer section {
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  width: calc((100% - 40px) / 3 ) ;
}

section.calendar {
  margin: 0;
}

section.logo  {
  background: #f1f1f1;
  padding: 24px 0 24px 20px;
}

main section {
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
}

main section:last-of-type {
  border-bottom: none;
  padding: 0 0 1em 0;
}

section.legal {
  border-top: 1px solid #ddd;
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
  width: 100%;
}

strong {
  font-weight: 400;
}

footer strong {
  font-size: 15px;
  font-weight: 500;
}

nav ul {
  list-style-type: none;
  margin: 10px 0 10px 0;
  padding: 0;
}

video {
  background: #222;
  margin: 0 0 20px 0;
  width: 100%;
}

@media (max-width: 700px) {
  h1 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {

  footer {
    height: inherit;
  }

  h1 {
    font-size: 20px;
  }

  section.logo img {
    margin: 0 15px 0 0;
    padding: 0 10px 0 0;
    width: 80px;
  }

  footer section {
    float: inherit;
    margin: 0 0 20px 0;
    width: 100%;
  }

  img.banner {
    margin: 0 0 20px 0;
  }

  nav {
    background-color: white;
    line-height: 2em;
    margin: 0;
    padding: 2px 0 0 20px;
    position: relative;
  }
}

@media (max-width: 500px) {

  h1 {
    font-size: 16px;
  }

  section.logo img {
    width: 60px;
  }

}


@media (max-width: 400px) {

  h1 {
    color: black;
    font-size: 14px;
  }

  section.logo img {
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
  }

  nav li {
    font-size: 13px;
    margin: 0 12px 0 0;
  }

  nav {
    padding: 10px;
  }

  section.logo {
    padding: 10px;
  }

  nav ul {
    margin: 0;
  }

}


